.body-1 {
  background-color: aqua;
  font-family: monospace;
}

a {
  color: black;
  text-decoration: none;
}


/* header */


.header {
  background-color: blue;
  position: relative;
  height: fit-content;
  display: flex;
  margin-top:30px;
}


.menu {
  background-color: red;
  height: fit-content;
  width: 70%;
  
}

.menu-option {
  color: black;
  text-decoration: none;
  font-size: 150%;
  margin: 25px;
}




.social {
  background-color: green;
  height: fit-content;
  width: 30%;
  text-align: right;
}

.social-option {
  color: black;
  text-decoration: none;
  font-size: 150%;
  margin: 10px;
}



/* body */


.body-2 {
  background-color: blanchedalmond;
  width: 100%;
  height: 100%;
}


.big-text-container{
  height: fit-content;
  width: fit-content;
}



:root {
  --bg-color: rgb(255, 255, 255);
  --typewriterSpeed: 3s;
  --typewriterCharacters: 17;
}

p1 {
  margin-left: 2%;
  font-size: 7vw;
  font-family: monospace;
  position: absolute;
  top: 30%;
  max-width: 80%;
}

p1::before,
p1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

p1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

p1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 800ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.text {
  margin-left: 2%;
  font-size: 20px;
}

.text-container {
  background-color: yellow;

}
