.body {
  position: absolute;
  font-family: monospace;
  top: 0;
  height: 100%;
  width: 99%;
  word-break: break-all;
}

.header {
  position: absolute;
  top: 0;
  height: 150px;
  width: 99%;
  left: 0.5%;
}

.header1 {
  height: 150px;
  position: absolute;
  width: 90%;
  left: 5%;
  text-align: center;
}

.menu {
  position: absolute;
  width: 80%;
  left: 0;
  top: 40px;
  height: 110px;
  text-align: left;
}

.menu_choice {
  position: relative;
  color: black;
  font-size: 1.5vw;
  text-decoration: none;
  margin-right: 11%;
}

a {
  color: black;
}

.social {
  position: absolute;
  width: 20%;
  right: 0;
  top: 40px;
  height: 110px;
}

.social_choice {
  position: absolute;
  color: black;
  font-size: 20px;
  text-decoration: none;
  right: 0;
}

.info {
  position: relative;
  text-align: center;
  top: 120px;
  max-width: 90%;
  height: 80%;
  margin-right: 0;
  width: 90%;
  left: 5%;
}

.info1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}

.text {
  position: relative;
  font-size: 20px;
  width: 100%;
}

:root {
  --bg-color: rgb(255, 255, 255);
  --typewriterSpeed: 3s;
  --typewriterCharacters: 17;
}

p1 {
  font-size: 7vw;
  font-family: monospace;
  position: absolute;
  top: 20%;
  max-width: 80%;
}

p1::before,
p1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

p1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

p1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 800ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info2 {
  position: relative;
  align-content: center;
  top: 150px;
  height: 800px;
}

.info3 {
  position: relative;
  width: 90%;
  left: 5%;
  height: 100%;
}

.text1 {
  position: absolute;
  font-size: 20px;
}

.me {
  position: absolute;
  width: 425px;
  max-width: 96%;
  left: 0;
  top: 71px;
  margin-bottom: 800px;
  border-radius: 30px;
}

.aboutBox {
  position: absolute;
  top: 70px;
  right: 0;
  height: 100%;
  width: 900px;
  max-width: 100%;
}

.aboutText {
  font-size: 20px;
  position: absolute;
  left: 0;
  color: black;
}
